form{
    border: 1px solid black;
    width: 20rem;
    height: 22rem;
 background-color: white;
 margin-left: 40%;
 margin-top: 10%;
}
.heading{
    text-align: center;
}
input{
    width: 15rem;
    height: 2rem; 
  
}
input:hover{
    border: 1px solid blue;
}
.btn{
    width: 15rem; 
    height: 2rem;
    background-color: rgb(128, 128, 238);
    color: white;
    border: none;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2.3rem;
}
body{
    background-image: linear-gradient(120deg,rgb(128, 128, 238),rgb(223, 191, 245));
}
.register{
    text-align: center;
}
a{
    text-decoration: none;
}