form{
    border: 1px solid black;
    width: 20rem;
    height: 22rem;
 background-color: white;
 margin-left: 40%;
 margin-top: 10%;
}
.heading{
    text-align: center;
}
input{
    width: 15rem;
    height: 2rem; 
  
}
input:hover{
    border: 1px solid blue;
}
.btn{
    width: 15rem; 
    height: 2rem;
    background-color: rgb(128, 128, 238);
    color: white;
    border: none;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2.3rem;
}
body{
    background-image: linear-gradient(120deg,rgb(128, 128, 238),rgb(223, 191, 245));
}
.register{
    text-align: center;
}
a{
    text-decoration: none;
}









  /* MEDIA QERIES */
  @media (max-width: 480px) {
    /* styles for small mobile devices */
    body{



    }
form{
  
    margin-left: 12%;
    width: 15rem;
    height: 25rem;
}
input{
    width: 10rem;
}
.btn{
    width: 10rem;
}
.container{
    display: flex;
    flex-direction: column;
 
}
    }
    
  
  
  
  /* - Medium (481px - 640px): */
  
  @media (min-width: 481px) and (max-width: 640px) {
    /* styles for medium mobile devices */
    body{
 
    }
    form{
      
        margin-left: 24%;
    width: 20rem;
    }
    input{
       
    }
    .btn{
        
    }
    .container{
        display: flex;
        flex-direction: column;
     
    }

  }
  
  
  /* - Large (641px - 768px): */
  
  @media (min-width: 641px) and (max-width: 768px) {
    /* styles for large mobile devices */
    body{
 
    }
    form{
       
        margin-left: 28%;
    width: 20rem;
    }
    input{
       
    }
    .btn{
        
    }
    .container{
        display: flex;
        flex-direction: column;
     
    }
  
  }
  
  
  /* Tablets
  
  - Small (769px - 960px): */
  
  @media (min-width: 769px) and (max-width: 960px) {
    /* styles for small tablets */
    body{

    }

    form{
      
        margin-left: 33%;
    width: 20rem;
    }
    input{
       
    }
    .btn{
        
    }
    .container{
        display: flex;
        flex-direction: column;
     
    }
  }
  
  
  /* - Medium (961px - 1024px): */
  
  @media (min-width: 961px) and (max-width: 1024px) {
    /* styles for medium tablets */
    body{

    }
    form{
   
        margin-left: 33%;
    width: 20rem;
    }
    input{
       
    }
    .btn{
        
    }
    .container{
        display: flex;
        flex-direction: column;
     
    }
  }
  
  
  /* - Large (1025px - 1280px): */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    /* styles for large tablets */
    body{
     
    }
    form{
       
        margin-left: 33%;
    width: 20rem;
    }
    input{
       
    }
    .btn{
        
    }
    .container{
        display: flex;
        flex-direction: column;
     
    }
  }